# .gitignore
/server/.env
/server/node_modules
/server/uploads
/server/src/uploads
/client/node_modules
/client/.env
/admin/node_modules
/admin/.env
/PHouse-Book-Store.git
/PHouse-Book-Store.git.bfg-report
/bfg-1.15.0.jar
/server/gcs.js
/server/credentials-book.json
/server/credentials-book.backup.json
